.reviewsContainer {
  position: relative;
  margin: 0 auto;
}

.reviewCard {
  background: #fff;
  border-radius: 8px;
  padding: 32px 35px 25px 39px;
  text-align: center;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.08);
  width: 299px;
  height: 261px;
  border: 1px solid #eaeaea;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 1464px) {
  .reviewCard {
    width: 338px;
    max-height: 252px;
  }
}

.imgNameWrapper {
  display: flex;
  gap: 12px;
}

@media screen and (min-width: 1464px) {
  .imgNameWrapper {
    gap: 14px;
  }
}

.reviewAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media screen and (min-width: 1464px) {
  .reviewAvatar {
    width: 40px;
    height: 40px;
  }
}

.nameStarsWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewName {
  font-weight: 400;
  text-align: left;
}

.reviewText {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.04em;
  text-align: left;
}

@media screen and (min-width: 1464px) {
  .reviewText {
    line-height: 1.92;
  }
}

.swiperBtnPrev,
.swiperBtnNext {
  position: absolute;
  top: 120px;
  z-index: 10;
  background: none;
  border: none;
}

.swiperBtnPrev {
  left: 15px;
}

.swiperBtnNext {
  right: 15px;
}

.swiperBtnIcon {
  width: 10px;
  height: 19px;
}

@media screen and (min-width: 1464px) {
  .swiperBtnIcon {
    width: 13px;
    height: 24px;
  }

  .swiperBtnPrev {
    left: 35px;
  }

  .swiperBtnNext {
    right: 35px;
  }
}
