:root {
  /* Colors */
  --primary-color-gray: #676869;
  --primary-color-blue: #01005b;
  --primary-color-white: #ffffff;
  --primary-color-beige: #f9f0e5;

  --secondary-color-blue: #2a2996;
  --secondary-color-gray1: #828282;
  --secondary-color-gray2: #868787;
  --secondary-color-gray3: #6c6c6c;
  --secondary-color-gray4: #565656;
  --secondary-color-gray5: #f0eeef;

  /* Transition */
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Sans", sans-serif;
  font-size: 15px;
  line-height: 1.53;
  letter-spacing: 0.03em;
  background-color: var(--primary-color-white);
  color: var(--primary-color-gray);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
